{% extends 'base.html' %}
{% block menu %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'add' %}">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'update' todo.pk %}">Update</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'delete' todo.pk %}">Delete</a>
    </li>
{% endblock %}
{% block content %}
{% csrf_token %}
    <h1>Information:</h1><br>
    <p><b>Goal Title:</b> {{ todo.goal }}</p>
    <p><b>Description:</b> {{ todo.content }}</p>
    <p><b>Started:</b> {{ todo.started }}</p>
    <p><b>Deadline:</b> {{ todo.deadline }}</p>
    <p><b>Status:</b>{{ todo.choice }}</p>

{% endblock %}

